.swiper-style {
    min-width: 300px;
    padding-top: 50px;
    /* padding-bottom: 50px; */
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    min-height: 300px;
    opacity: 0.1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    opacity: 0.1;
}

.swiper-slide p,
.swiper-slide h3,
.swiper-slide .contenedor {

    opacity: 0.01;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
}

.swiper-slide-duplicate-next {
    opacity: 0.01
}

.swiper-slide-visible img,
.swiper-slide-visible,
.swiper-slide-active p,
.swiper-slide-active h3,
.swiper-slide-active .contenedor {
    opacity: 1
}



/* .swiper-slide-prev,
.swiper-slide-next {
    opacity: 0.01
}

.swiper-slide-text-prev,
.swiper-slide-text-next {
    opacity: 0.01
} */

