@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%!important;
}

h1{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 92px;
    text-align: center;
}

.contenedor {
    width: 70%;
}

.weight500 {
    font-weight: 500;
}

.weight400 {
    font-weight: 400;
}

/* Clase para oscurecer el nav */

.oscurecer {
    background-color: #090909;
    width: 100%;
    padding: 10px 0 !important;
    z-index: 100;
}

.oscurecer .nav-item{
    font-size: 20px;
}

.logo-chico {
    opacity: 0;
    transition-delay: .5s;
}
.oscurecer .logo {
    width: 75px !important;
    height: 75px !important;
}
.oscurecer .logo-chico{
    opacity: 1;
}

.oscurecer .logo-grande {
    opacity: 0;
}

.oscurecer .contenedor-nav {
    width: 90%;
}

/* ************************************ Header - Nav - Video ****************************************/

header{
    width: 100%;
    display: flex;
    justify-content:center;
    position: relative;
}

.navbar{
    position: fixed;
    padding: 30px 0;
    width: 80%;
    transition: 0.7s;
}

.navbar-brand {
    padding-bottom: 0 !important;
    display: inline-block;
    position: relative;
    min-height: 70px;
    min-width: 70px;
}

.contenedor-nav{
    display: flex;
    justify-content:space-between;
    width: 80%;
    transition: 0.7s;
}

nav .container-fluid{
    justify-content: center!important;
}

.nav-item{
    font-weight: 500;
    font-size: 24px;
    margin-left: 50px;
    transition: 0.7s;
}

.nav-item:hover, .nav-item:focus, .nav-item:active, .active {
    font-weight: 800;
}

.logo{
    width: 105px;
    height: 105px;
    transition: all ease 0.7s;
    position: absolute;
    top: 0;
    left: 0;
}

video{
    z-index: -10;
    width: 100%;
        height: 100%;
        display: block;
}

#tituloPrincipal{
    position: absolute;
    top: 344px;
    margin: auto;
    color: #fff;
}

#tituloPrincipal p{
    font-weight: 400;
    font-size: 32px;
    width: 878px;
    text-align: center;
}


/* ********************************** Contenedores Secciones ***************************************** */


#serviciosIndex p, #secProyectos p{
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    margin-bottom:123px;
}

#serviciosIndex, #secProyectos, #secServicios, #secNosotros, #secContacto {
    width: 100%;
    background: linear-gradient(180deg, #1F1F1F 0%, #000000 42.3%, #1F1F1F 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding:168px 0 75px 0;
}


/* ******************************** Index ********************************/
 

.linea {
    width: 40px;
    background: linear-gradient(180deg, #2641CD 0%, #621E7E 74.48%);
    border-radius: 15.9431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.linea span {
    display: block;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
}

.titServicio{
    width:500px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servIndex{
    display: flex;
    margin-bottom: 200px;
}

.columna{
    margin:0 155px;
}

.columna img{
    border-radius: 30px;
    width: 500px;
    height: 500px;
}

.columna img:last-child, .columna div:last-child{
    margin-bottom: 0;
}

.columna div h2{
    font-style: italic;
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0;
}

.colDer div h2{
    text-align:right;
}

/* Círculos */

.linea span:nth-child(1){
    background-color: #2b3dc5;
}

.linea span:nth-child(2) {
    background-color: #3836b4;
}

.linea span:nth-child(3) {
    background-color: #462ea2;
}

.linea span:nth-child(4) {
    background-color: #532690;
}

.linea span:nth-child(5) {
    background-color: #621E7E;
}

.linea span:nth-child(6) {
    background-color: #621e7e;
}

/* Sección de Acción - Botón */

.accion{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.accion p{
    width: 851px;
    margin-bottom:60px !important;
}

.btn-primary{
    background: #621E7E;
    border-radius: 56px;
    padding: 15px 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    border: none;
    color: #fff;
    text-decoration: none;
}

.btn-primary:hover{
    background: #853BA6;;
}

/* ************************************ Sección proyectos ******************************** */

#secProyectos .contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    width: 90%;
    justify-content:space-between;
}

#secProyectos .accion{
    margin-top:75px;
}

/* Cards Proyectos */

.cardProyecto {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.cardProyecto div {
    /* display: inline-block; */
    position: absolute;
    bottom: 0;
    left: 0;
    background: #1F1F1F;
    opacity: 0.9;
    width: 100%;
    padding: 20px 20px;
}

.popUpCard {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    /* width: 1065px; */
    /* height: 834px; */
    background: #000000;
    /* opacity: 0.6; */

}

.popUpCard.mostrar {
    display: block;
}

.cardProyecto div h2 {
    margin-bottom: 0;
}

.cardProyecto:hover {
    box-shadow: 0px 0px 5px 6px rgb(140, 25, 255);
}

/* ************************************ Sección Servicios ***********************************/

#secServicios .contenedor{
    width: 70% !important;;
}

#secServicios .violeta {
    background-color: #53196B;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

#secServicios .violeta .accion p {
    text-align: center;
    font-weight: 400;
    font-size: 23px;
    line-height: 34px;
}

#secServicios .violeta .accion a {
    background-color: #000000;
}

#secServicios .violeta .accion a:hover {
    background-color: #1F1F1F;
}

#secServicios {
    padding: 0;
}

.tituloSecServicio{
    display: flex;
    justify-content:center;
    margin-bottom:100px;
}

.tituloSecServicio h2{
    font-weight: 800;
    font-size: 64px;
    letter-spacing: -0.005em;
}

.servicio{
    display: flex;
    justify-content:space-around;
}

.gris{
    padding:100px 0;
}

.descripcionServ{
    width: 560px;
    padding-top:50px;
}

.descripcionServ h3{
    margin-bottom: 36px;
    font-weight: 800;
    font-size: 46px;
    line-height: 100%;
    letter-spacing: 0.0025em;
}

.descripcionServ p{
    font-weight: 400;
    font-size: 19px;
    line-height: 38px;
}

/***************************************** Sección Nosotros ************************************* */

#secNosotros{
    display: flex;
    justify-content:center;
}

#secNosotros .contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historia{
    display: flex;
    justify-content: space-between;
    width:70%;
}

.historia h3{
    font-weight: 800;
    font-size: 46px;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    margin-bottom:50px;
}

.historia p{
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 0.005em;
    width: 650px;
}

.innovacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    /* justify-content: center; */
}

.innovacion h2{
    font-weight: 800;
    font-size: 75px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.cardNosotros{
    width: 418.08px;
    height: 346px;
    background: #621E7E;
    box-shadow: 3.60417px 4.80556px 4.80556px rgba(0, 0, 0, 0.25);
    border-radius: 24.0278px;
    padding: 30px 40px;
}

.titCardNos{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    margin-bottom:40px;
}

.titCardNos h3{
    margin-bottom:0;
    font-weight: 700;
    font-size: 28.8333px;
}

.contCards{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.integrantes{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;
}

.integrantes h3{
    font-weight: 800;
    font-size: 46px;
    margin-bottom: 150px;
}

.contIntegrantes{
    display: flex;
    gap: 50px;
}

.contIntegrantes img{
    width:200px;
    height: 200px;
    border-radius: 50%;

}

.integrante{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.integrante h4{
    text-align: center;
    width: 250px;
    font-weight: 800;
    font-size: 19px;
    line-height: 28px;
    margin-top: 25px;
}

.integrante h4 span{
    display: inline-block;
    font-weight: 600;
    font-size: 17px;
    margin-top: 15px;
}

.clientes{
    background: #621E7E;
    width: 100%;
}

.contClientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.galeriaClientes{
    display: flex;
    width: 80%;
    justify-content:space-between;
    padding: 50px;
}

.contClientes h3{
    font-weight: 800;
    font-size: 46px;
}

.galeriaClientes img{
    height:47px;
}

#secNosotros .accion{
    padding: 200px 0 100px 0;
}

#secNosotros .accion p{
    font-weight: 800;
    font-size: 46px;
    letter-spacing: -0.005em;
}

#secNosotros .accion p span{
    color: #962BC2;
    margin-left: 10px;
}


/* ***************************************** Sección contacto ******************************** */

/* .secContacto{
    display: flex;
} */

.asesoria{
    display: flex;
    width: 316px;
}

.asesoria div{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.asesoria div:nth-child(2){
    padding-left:30px;
}

form div:first-child{
    display: flex;
}

.columnaForm{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#secContacto{
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content:center;
    padding: 168px 0;
}

#secContacto div:first-child{
    display: flex;
    justify-content: space-between;
}

.imgContacto{
    width: 870px;
    border-radius:30px;
    margin-left: 50px;
    background-image: url(../assets/img/7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#secContacto h2{
    font-weight: 800;
    font-size: 46px;
}

.contFormulario{
    display: flex;
    flex-direction: column;
}

.contFormulario div:first-child{
    display: flex;
    /* flex-direction: column; */
    /* width: 100%; */
}

input[type="text"], input[type="email"]{
    width: 100%;
}

input[type="email"]{
    margin:15px 0;
}

input, textarea{
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    padding: 15px;
}

textarea{
    width: 100%;
    margin-top: 15px;
}

.consulta{
    margin-top:25px;
}

form div:first-child{
    display: flex;
}

.contColumnas{
    display: flex;
    gap: 50px;
    width: 100%;
}

.check{
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
}

label{
    margin-top: 10px;
    color: #C23FF9;
}

.asesoria label{
    color: white;
    font-size: 14px;
}

input[type="checkbox"]{
    margin-right: 10px;
}

.envio{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
/******************************************** Footer ***************************************/

footer{
    background: #621E7E;
    display: flex;
    justify-content: center;
    padding: 75px 0;
    color: #fff;
}

footer .contenedor{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

footer p{
    width:366px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

footer ul li{
    list-style: none;
    margin-bottom: 10px;
}

.redes{
    width:25px;
    margin-right: 10px;
}




/* ************************************ Tablet ********************************************* */

@media (max-width: 1280px) {

    .contenedor-nav{
        width: 90%;
    }
    
    .nav-item{
        font-size:20px;
        margin-left: 20px;
    }

    .logo{
        width:90px;
        height: 90px;
    }

    h1{
        font-size:75px;
    }

    #tituloPrincipal{
        top: 195px;
    }

    #tituloPrincipal p {
        font-size: 25px;
        width: 700px;
    }

    #serviciosIndex, #secProyectos, #secServicios, #secNosotros, #secContacto{
        padding: 120px 0 75px 0;
    }

    .servIndex {
        margin-bottom: 111px;
    }

    #serviciosIndex p, #secProyectos p {
        font-size: 26px;
        line-height: 44px;
        margin-bottom: 106px;
    }

    .linea {
        width: 35px;
    }

    .linea span {
        width: 95px;
        height: 95px;
    }

    .columna img {
        width: 350px;
        height: 350px;
    }

    .titServicio {
        width: 350px;
        height: 400px;
    }

    .columna div h2 {
        font-size: 50px;
    }

    .columna {
        margin: 0 100px;
    }

    .contenedor {
        width: 90%;
    }

    .logo_footer{
        width: 125px;
    }

    footer{
        padding: 40px 0;
    }

    footer p{
        font-size: 15px;
    }

    ol,ul {
        padding-left: 0;
    }

    dl,ol,ul {
        margin-bottom: 0;
    }

}

@media (max-width: 1024px) {

    h1 {
        font-size: 54px;
    }

    #tituloPrincipal {
        top: 122px;
    }

    #tituloPrincipal p {
        font-size: 18px;
        width: 513px;
    }

    #serviciosIndex,#secProyectos,#secServicios,#secNosotros,#secContacto {
        padding: 90px 0 75px 0;
    }

    #serviciosIndex p,
    #secProyectos p {
        font-size: 20px;
        line-height: 44px;
        margin-bottom: 75px;
    }

    .columna img {
        width: 250px;
        height: 250px;
    }

    .titServicio {
        width: 250px;
        height: 300px;
    }

    .columna div h2 {
        font-size: 35px;
    }

    .columna {
        margin: 0 75px;
    }

    .accion p {
        width: 710px;
        margin-bottom: 40px !important;
    }

    .btn-primary {
        padding: 13px 40px;
        font-size: 17px;
    }

    footer p {
        font-size: 13px;
        width: 265px;
        margin-bottom: 0;
    }

    footer ul li {
        font-size: 13px;
    }

    .redes {
        width: 19px;
    }

}

/* ************************************ Celular ******************************************** */

@media (max-width: 768px) {
    header{
        height:50vh;
    }

    video{
        height:50vh;
        width: auto;
    }

    #tituloPrincipal p {
        font-size: 16px;
        width: 320px;
        margin: auto;
    }
}


@media (max-width: 420px) {
    
}